{# Renders current score for task 
 # Requires: task, public_score, tokened_score, get_score_class, translation
 #}

{% set score_type = get_score_type(dataset=task.active_dataset) %}
{% set can_use_tokens = tokens_contest != TOKEN_MODE_DISABLED and tokens_task != TOKEN_MODE_DISABLED %}

{% if score_type is defined %}
    {% set two_task_scores = score_type.max_public_score > 0
        and score_type.max_public_score < score_type.max_score %}
<div class="task_score_container row-fluid">

    {% if score_type.max_public_score > 0 %}
        {# Show the public score (alone, if everything is public or tokens are disabled, or together with the tokened score). #}
    <div id="task_score_public"
         class="{{ "span6" if two_task_scores else "span12" }} well well-small task_score {{ get_score_class(public_score, score_type.max_public_score, task.score_precision) }}">
        <span>
        {% if score_type.max_public_score == score_type.max_score %}
            {% trans %}Score:{% endtrans %}
        {% else %}
            {% trans %}Public score:{% endtrans %}
        {% endif %}
        </span>
      <br/>
        <span class="score">
            {{ score_type.format_score(public_score, score_type.max_public_score, none, task.score_precision, translation=translation) }}
        {% if is_score_partial %}
            <img src="{{ url("static", "loading.gif") }}" />
        {% endif %}
        </span>
    </div>
    {% endif %}

    {% if score_type.max_public_score < score_type.max_score %}
        {# Show the tokened score (alone if everything is non-public, or together with the public score). #}
    <div id="task_score_tokened"
         class="{{ "span6" if two_task_scores else "span12" }}  well well-small task_score {{ get_score_class(tokened_score, score_type.max_score, task.score_precision) if can_use_tokens else "undefined" }}">
        <span>
        {% if can_use_tokens %}
            {% trans %}Score of tokened submissions:{% endtrans %}
        {% else %}
            {% trans %}Total score:{% endtrans %}
        {% endif %}
        </span>
        <br/>
        <span class="score">
        {% if can_use_tokens %}
            {{ score_type.format_score(tokened_score, score_type.max_score, none, task.score_precision, translation=translation) }}
            {% if is_score_partial %}
            <img src="{{ url("static", "loading.gif") }}" />
            {% endif %}
        {% else %}
            {% trans %}N/A{% endtrans %}
        {% endif %}
        </span>
    </div>
    {% endif %}

</div>
{% endif %}