{% extends "contest.html" %}

{% set page = "task_submissions" %}

{% block additional_js %}
    {% include "task_submissions-scoreutils.js" %}
    {% include "task_submissions-previous.js" %}
    {% include "task_submissions-score.js" %}
{% endblock additional_js %}

{% block head %}
    {% include "task_submissions-submit-head.html" %}
{% endblock head %}

{% block core %}

<div class="span9 task_submissions">
    <div class="page-header">
        <h1>{% trans name=task.title, short_name=task.name %}{{ name }} ({{ short_name }}) <small>submissions</small>{% endtrans %}</h1>
    </div>

    {% include "task_submissions-score.html" %}
    {% include "task_submissions-submit.html" %}
    {% include "task_submissions-previous.html" %}
</div>

    {% include "task_submissions-submit-foot.html" %}

{% endblock core %}
